[options]

font = Hack Nerd Font 10
cursor_blink = on
cursor_shape = ibeam
scrollback_lines = 10000

[colors]

# special
foreground      = #f8f8f8
foreground_bold = #f8f8f8
cursor          = #f8f8f8
background      = rgba(7,8,37,0.5)

# black
color0  = #091833
color8  = #1D1F28

# red
color1  = #711c91
color9  = #B71C1C

# green
color2  = #004D40
color10 = #1B5E20

# yellow
color3  = #ffb300
color11 = #BF360C

# blue
color4  = #133e7c
color12 = #0D47A1

# magenta
color5  = #ea00d9
color13 = #311B92

# cyan
color6  = #0abdc6
color14 = #00acc1

# white
color7  = #f7f7f7
color15 = #ffffff

